<div class='row'>
    <div class="panel panel-default">
        <div class="panel-heading">{{ vm.action }} Documento</div>

        <div class="panel-body">

        valido:
        {{ myForm.file.$error }}

        <form name='myForm' class="form-horizontal" role="form" method="POST">

            <div class="form-group" ng-class="{'has-error': vm.hasError('name')}">
                <label class="col-md-4 control-label">Nombre</label>

                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="vm.data.name">

                    <span ng-if="vm.hasError('name')" class="help-block">
                        <strong>{{ vm.errors.name[0] }}</strong>
                    </span>
                </div>

            </div>

            <div class='form-group' ng-class="{'has-error': (!myForm.file.$valid || vm.hasError('file'))}">
                <label class="col-md-4 control-label">Archivo</label>
                <div class="col-md-6" name="file"
                    ngf-select
                    ng-model="vm.data.file"
                    ngf-max-size="2MB">
                    <button class='btn btn-info btn-sm'>Selecciona documento</button>
                    <span ng-show="myForm.file.$error.maxSize" class="help-block">
                        <strong> Archivo muy grande {{errorFile.size / 1000000| number:1}}MB: maximo 2M </strong>
                    </span>
                    <span ng-show="vm.hasError('file')" class="help-block">
                        <strong>{{ vm.errors.file[0] }}</strong>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button ng-disabled="!myForm.file.$valid || !vm.data.name || !vm.data.file" ng-click="vm.submitForm()" class="btn btn-primary">
                        <i ng-class="{'fa-file': !vm.formIsSubmit, 'fa-spinner fa-spin': vm.formIsSubmit }" class="fa fa-btn "></i> {{ vm.action }}
                    </button>
                </div>
            </div>
        </form>

        </div>
    </div>
</div>
