<div class='row'>
    <div class='pull-right'>
        <a ui-sref="users-create" class='btn btn-primary'>Nuevo Usuario</a>
    </div>
</div>
<br>

<div class='row'>
    <div class="panel panel-default">
        <div class="panel-heading">Usuarios</div>

        <div class="panel-body">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.users">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <span class="label label-primary" ng-repeat="role in user.roles">
                                {{ role.label }}
                            </span>
                        </td>
                        <td>
                            <a ui-sref="users-edit({id: user.id})" class="btn btn-success btn-sm">Editar</a>
                            <a ng-click="vm.destroy(user.id, $index)" class='btn btn-danger btn-sm'>Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
