<div class='row'>
    <div class="panel panel-default">
        <div class="panel-heading">Editar Roles</div>

        <div class="panel-body">

        <form class="form-horizontal" role="form" method="POST">


            <div class="form-group" ng-class="{'has-error': vm.hasError('name')}">
                <label class="col-md-4 control-label">Name</label>

                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="vm.data.name">

                    <span ng-if="vm.hasError('name')" class="help-block">
                        <strong>{{ vm.errors.name[0] }}</strong>
                    </span>
                </div>

            </div>

            <div class="form-group" ng-class="{'has-error': vm.hasError('label')}">
                <label class="col-md-4 control-label">Nombre legible</label>

                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="vm.data.label">

                    <span ng-if="vm.hasError('label')" class="help-block">
                        <strong>{{ vm.errors.label[0] }}</strong>
                    </span>
                </div>

            </div>

            <div class="form-group" ng-class="{'has-error': vm.hasError('permissions')}">
                <label class="col-md-4 control-label">Permisos</label>

                <div class="col-md-6">
                    <ui-select multiple ng-model="vm.data.permissions">
                        <ui-select-match placeholder="Selecciona permisos...">
                           {{$item.label}}
                        </ui-select-match>
                        <ui-select-choices repeat="permission.id as permission in (vm.permissions | filter: $select.search) track by $index">
                            <span ng-bind="permission.label "></span>
                        </ui-select-choices>
                    </ui-select>

                    <span ng-if="vm.hasError('permissions')" class="help-block">
                        <strong>{{ vm.errors.permissions[0] }}</strong>
                    </span>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button ng-click="vm.submitForm()" class="btn btn-primary">
                        <i ng-class="{'fa-user': !vm.formIsSubmit, 'fa-spinner fa-spin': vm.formIsSubmit }" class="fa fa-btn "></i> Editar
                    </button>
                </div>
            </div>
        </form>

        </div>
    </div>
</div>
