<ui-view>
<div class='row'>
    <div class='pull-right'>
        <a ui-sref="roles.create" class='btn btn-primary'>Nuevo Rol</a>
    </div>
</div>
<br>

<div class='row'>
    <div class="panel panel-default">
        <div class="panel-heading">Roles</div>

        <div class="panel-body">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Nombre publico o legible</th>
                        <th>Permisos</th>
                        <th class='action-column'>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <input ng-model="vm.search.name" ng-blur="vm.filter()" ng-enter="vm.filter()" type="text" class="form-control" placeholder="nombre"></input> </td>
                        <td> <input ng-model="vm.search.label" ng-blur="vm.filter()" ng-enter="vm.filter()" type="text" class="form-control" placeholder="label"></input> </td>
                        <td> <input ng-model="vm.search.permissions" ng-blur="vm.filter()" ng-enter="vm.filter()" type="text" class="form-control" placeholder="permiso"></input> </td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="role in vm.roles">
                        <td>{{ ::role.name }}</td>
                        <td>{{ ::role.label }}</td>
                        <td>
                            <span ng-repeat="permission in role.permissions">
                                <span class="label label-primary">{{ ::permission.label }}</span>
                            </span>
                        </td>
                        <td>
                            <a ui-sref="roles.edit({id: role.id})" class="btn btn-success btn-sm">Editar</a>
                            <a ng-click="vm.destroy(role.id, $index)" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div ng-if='vm.reload' class='text-center'>
                <i class="fa fa-2x fa-spinner fa-spin"></i>
            </div>

            <div ng-hide="vm.reload" ng-if="vm.roles | isEmpty" class='text-center'>
                Sin resultados
            </div>

            <div ng-hide="vm.reload" ng-if="! (vm.roles | isEmpty)" class='text-center'>
                <uib-pagination items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.search.page" ng-change="vm.filter()"></uib-pagination>
            </div>

        </div>
    </div>
</div>
</ui-view>
