<ui-view>
<div class='row'>
    <div class='pull-right'>
        <a ui-sref="roles.create" class='btn btn-primary'>Nuevo Rol</a>
    </div>
</div>
<br>

<div class='row'>
    <div class="panel panel-default">
        <div class="panel-heading">Roles</div>

        <div class="panel-body">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Nombre publico o legible</th>
                        <th>Permisos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in vm.roles">
                        <td>{{ ::role.name }}</td>
                        <td>{{ ::role.label }}</td>
                        <td>
                            <span ng-repeat="permission in role.permissions">
                                <span class="label label-primary">{{ ::permission.label }}</span>
                            </span>
                        </td>
                        <td>
                            <a ui-sref="roles.edit({id: role.id})" class="btn btn-success btn-sm">Editar</a>
                            <a ng-click="vm.destroy(role.id, $index)" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</ui-view>
